/* variables */

$font-main: 'Roboto', sans-serif;
$font-second: 'Spectral', serif;
$font-logo: 'Lobster', cursive;

$font-color-dark: #333333;
$font-color-light: #ffffff;
$color1: #FED136;
$color2: #F7F7F7;
$color3: #ffffff;

$transition: all 1s;

/* global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-main;
    color: $font-color-dark;    
}

.container {
    max-width: 1140px;
    padding: 24px 20px;
    margin: 0 auto;    
}
section {
    padding:  12px 12px;
    /* border: solid 2px; */
}

.btn {
    display: block;
    width: 160px;
    margin: 12px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: $color1;
    background-position: 100% 0;
    background-size: 300%;
    font-weight: 700;
}

.btn:hover {
    background-position: 0 100%;
    color: $color3;
    transition: $transition;
}

.section-title {
    font-family: $font-main;
    color: $font-color-dark;
    font-size: 32px;
    text-align: center;
    margin-bottom: 0;
}

.section-subtitle {
    font-family: $font-second;
    color: gray;
    font-size: 18px;
    text-align: center;
    font-style: italic;
    margin-top: 0;
}

.row {
    justify-content: space-between;
}
/* splash */

.splash {
    background-image: url(https://i.postimg.cc/wMyyHs0w/pexels-sy-donny-1841841.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat-y;
    padding-bottom: 24px;
    min-height: 70vh;
}

.logo a {
    font-family: $font-logo;
    color: $color1;
    font-size: 32px;
    text-decoration: none;
}

.navigation {
    padding: 12px 0;
    }
    
    .navigation ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        text-align: end;
    }
    
    .navigation li {
        display: inline-block;
        margin: 0 36px 0 0; 
        position: relative;
    }
    
    .navigation a {
        text-decoration: none;
        color: $font-color-light;
        font-size: 18px;
    }
    
    .navigation a:hover {
        color: $color1;
    }
    
.page-title {
    font-family: $font-second;
    color: $font-color-light;
    font-size: 48px;
    text-align: center;
    margin-bottom: 12px;
    margin-top: 60px;
    font-style: italic;
}

.page-subtitle {
    color: $font-color-light;
    font-size: 72px;
    text-align: center;
    margin-top: 0;
}

/* services */

.serv-box {
    text-align: center;

}

.serv-box i {
    color: $color1;
    font-size: 36px;
    border: solid 3px $color1;
    border-radius: 50%;
    padding: 18px 12px;
    width: 80px;
    height: 80px;
}

.box-title {
    font-size: 24px;
    margin: 12px;
}

.box-text {
    font-family: $font-second;
    font-size: 14px;
    color: gray;
}