/* variables */

$font-main: 'Roboto', sans-serif;
$font-second: 'Spectral', serif;
$font-logo: 'Lobster', cursive;

$font-color-dark: #333333;
$font-color-light: #ffffff;
$color1: #FED136;
$color2: #F7F7F7;
$color3: #ffffff;

/* global */

*, *::before, *::after {
    box-sizing: border-box;
}
